################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/SmartSweepers/v15
/.vs/SmartSweepers/v17
/.vs/SmartSweepers/FileContentIndex
