<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartSweepers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SmartSweepers.Properties.Settings>
            <setting name="iFramesPerSecond" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="iNumInputs" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="iNumHidden" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="iNeuronsPerHiddenLayer" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="iNumOutputs" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="iSweeperScale" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="iNumMines" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="iNumSweepers" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="iNumTicks" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="iNumElite" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="iNumCopiesElite" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dActivationResponse" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dBias" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="dMaxTurnRate" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="dMaxSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dMineScale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dCrossoverRate" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="dMutationRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="dMaxPerturbation" serializeAs="String">
                <value>0.3</value>
            </setting>
        </SmartSweepers.Properties.Settings>
    </userSettings>
</configuration>
